.when{
  display: flex;
  flex-direction: column;

  padding: 20px;
  background-color: blanchedalmond;
  border: 1px solid palevioletred ;
  height: max-content;
  width: max-content;
  justify-content: center;
  align-items: center;
}

.courses{
  display: flex;
  flex-direction: column;
  gap: 20px;

}

.courses__title{
  font-size: 20px;
  font-weight: 500;
}